
	<div id="fh5co-resume" class="fh5co-bg-color">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>{{content.field_title.0}}</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-md-offset-0">
					<ul class="timeline">
						<li class="timeline-heading text-center animate-box">
							<div><h3>{{content.field_work_title.0}}</h3></div>
						</li>
						{{content.field_work_information}}
						<br>
						<li class="timeline-heading text-center animate-box">
							<div><h3>{{content.field_education_title.0}}</h3></div>
						</li>
						{{content.field_education_information}}
			    	</ul>
				</div>
			</div>
		</div>
	</div>
	