<div class="col-md-6">
	<div class="progress-wrap">
		<h3><span class="name-left">{{content.field_title.0}}</span><span class="value-right">{{content.field_percentage.0}}%</span></h3>
		<div class="progress">
		  <div class="progress-bar {{content.field_color['#items'].getString()}} progress-bar-striped active" role="progressbar"
		  aria-valuenow="{{content.field_percentage.0}}" aria-valuemin="0" aria-valuemax="100" style="width:{{content.field_percentage.0}}%">
		  </div>
		</div>
	</div>
</div>