<p><b>Contact us form details-</b></p>

<p><b>Name</b>: {{ message_body.name }}</p>
<p><b>Company Name</b>: {{ message_body.company_name }}</p>
<p><b>Designation</b>: {{ message_body.designation }}</p>
<p><b>Address</b>: {{ message_body.address }}</p>
<p><b>Country</b>: {{ message_body.country }}</p>
<p><b>Email</b>: {{ message_body.email }}</p>
<p><b>Phone</b>: {{ message_body.phone }}</p>
<p><b>Query</b>: {{ message_body.query }}</p>
